name: Update Schema

on:
  - push

permissions:
  contents: write

jobs:
  update-schema:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: ./.github/actions/build
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: update schema"
          file_pattern: "schema.json"
